<div class="container">
  <div class="row">
  <div class="col-md-6">
      <nav class="navbar navbar-light bg-light">
          <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Enter the username" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </nav>
    <!-- <p>Enter the username</p>
<input name="search" #searchUser >


<button (click)="doSearch(search)">Search</button> -->
  </div>
   <div class="col-md-6">
      <nav class="navbar navbar-light bg-light">
          <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="repository name" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </nav>


  <!-- <button (click)="performSearch(searchUser)">Search</button> -->
  </div>
  </div>
  </div>
