<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
       <ul>  
          <li><a routerLink='/github' routerLinkActive='active'>Github</a></li> <br>
          <li><a routerLink='/about' routerLinkActive='active'>About</a></li> 
         </ul>   
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>
  <!-- <app-github></app-github> -->



  <!-- <li><a routerLink='/github' routerLinkActive='active'>Github</a></li> <br>
          <li><a routerLink='/about' routerLinkActive='active'>About</a></li> -->


       